/* Estilos globais */
html {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

body::-webkit-scrollbar {
    display: none;
}


/* Estilos da barra de navegação */
.navbar {   
    background-color: #4F4F4F;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    line-height: 0;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 1%;
}   

.nav-links a:hover {
    border-radius: 50%;
    background-color: #696969;
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.profile {
    padding: 0 0;
    background-color: #4F4F4F;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

/* Estilos do campo de pesquisa */

header {
    background-color: #333;
    color: #F5F5F5;
    padding: 10px;
    text-align: center;
}

.searchInput {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 50%;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

/* Estilos para a tela de perfil flutuante */

.modalcover {
    display: none;
    position: fixed;
    flex-grow: 1;
    top: 70px; /* Ajuste conforme necessário para a posição desejada abaixo da barra de pesquisa */
    left: 90px; 
    width: 43%; /* Ajuste conforme necessário */
    padding: 10px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}


.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#sairdaAccount{
    background-color: #f7eae9;
    color: #f26565;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#sairdaAccount:hover{
    background-color: #f26565;
    color: #f7eae9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



#fechar{
    background-color: #f44336;
    color: #F5F5F5;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tsenha {
    margin: 0;
}

/* Biblioteca */
.biblioteca {
    height: auto;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    background-color: #4F4F4F;
    margin-bottom: 10px;
    height: 150px;
    overflow: auto;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}

.biblioteca::-webkit-scrollbar {
    width: 2px;
    height: 10px; 
}

.biblioteca::-webkit-scrollbar-thumb {
    background-color: #A9A9A9; 
    border-radius: 4px; 
}



#root{
    padding: 10px;
}

#root h2{
    color:  #F5F5F5;
    margin-bottom: 0;
}


.modal-content {
    width: 100%;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 8px;
}

.modalcover-content img {
    max-width: 100%;
    height: auto;
}

.inserir{
    display: flex;
    width: 30%;
    height: 3%;
}
#statusSelect{
    margin: 10px;
    border-radius: 10%;
}

/* ! Tamo aqui  */
#modaldes{
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #F5F5F5;
    width: 80%;
    height: 80%;
    flex-direction: column;
}

#superior_modaldes{
    display: flex;
    justify-content: start;
}

#inferior_modaldes{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    overflow: hidden;
}


#capa_modaldes{
    width: 107px;
    height: 162px;
    margin-right: 10px;
}

#superior_modaldes #titulo_modaldes{
    width: 100%; 
    margin: 0;
}

#description_modaldes{
    overflow-y: scroll;
    padding: 10px;
    font-size: 20px;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    box-sizing: border-box; 
    border: 2px solid #A9A9A9; 
    text-align: justify;
    font-weight: normal;
    text-indent: 20px;
}

#description_modaldes::-webkit-scrollbar {
    width: 8px; 
}

#description_modaldes::-webkit-scrollbar-thumb {
    background-color: #A9A9A9; 
    border-radius: 4px; 
}

#description_modaldes::-webkit-scrollbar-track  {
    background-color: #F5F5F5; 
    border-radius: 4px; 
}


.select_modaldes{
    min-width: 107px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.select_modaldes:hover{
    border: none;

}



/* CSS para os resultados dinamicos dos livros  */
#modalcover {
    display: none;
    position: fixed;
    flex-grow: 1;
    top: 70px; 
    left: 90px; 
    width: 43%;
    padding: 10px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 400px;
}

#coverResult {
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;;
}

#coverResult::-webkit-scrollbar {
    width: 8px; 
}

#coverResult::-webkit-scrollbar-thumb {
    background-color: #A9A9A9; 
    border-radius: 4px; 
}

#coverResult::-webkit-scrollbar-track {
    background-color: #F5F5F5; 
    border-radius: 4px; 
}

#result_dynamic_books {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 144px;
    margin: 5px;
    cursor: pointer;
}

#result_dynamic_books:hover{
    background-color: #A9A9A9;
    border-radius: 5px;
}

#img_capas_livro{
    grid-column: 1;
    height: 144px;
    width: 96px; 
    margin-right: 10px;
    cursor: pointer;
}

#titlecapaslivro{
    grid-column: 2;
    flex: 1;
    width: 100%;
}

