<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="root">
        <div class="navbar">
            <div class="logo">
                <a href="#">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="50px" height="50px">
                </a>
            </div>
            <div class="nav-links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <button onclick="abrirTelaFlutuante()" class="login-btn">Login</button>
        </div>
        <div class="flex">
            <div class="home">
                <h1 class="main_title">Library</h1>
                <p class="main_text">A new way to organize your books</p>
                <button onclick="abrirTelaFlutuante()" class="login-btn main_login">Start</button>
            </div>
            <div class="a_home">
                <img src="{{ url_for('static', filename='anão_home.jpg') }}" alt="Logo" width="512px" height="512px">
            </div>
        </div>
        <div class="about">
            <h1>About</h1>
            <<p class="main_text">Explore, organize e desfrute dos seus livros de uma maneira totalmente nova com o Library.</p>
            <p class="main_text">Descubra uma forma eficiente de gerenciar sua biblioteca pessoal, seja você um ávido leitor,
                um colecionador apaixonado ou alguém que valoriza manter sua estante em ordem.</p>
            <p class="main_text">No Library, você pode classificar seus livros em categorias como "Lendo", "Quero Ler" e "Terminei",
                facilitando o controle e acompanhamento do seu progresso literário.</p>
            <p class="main_text">Adicione novos títulos à sua coleção, visualize descrições detalhadas e mantenha-se
                organizado de maneira inteligente e personalizada.</p>
        </div>

        <div class="contact">
            <p class="contactText">
                Encontou algum problema com o site?
                Entre em contato com <a class="textMail" href="mailto:test@test.com">supotelibrary@library.com</a>
            </p>
        </div>
    </div>
    <div class="modal" id="login">
        <div class="login-container">
            <div class="barra">
                <h2 id="seila">Login</h2>
                <button onclick="fecharTelaFlutuante()" id="fechar">X</button>
            </div>

            <form id="loginForm">
                <label for="username">Nome:</label>
                <input type="text" id="loginusername" name="username" required>

                <label for="password">Senha:</label>
                <input type="password" id="loginpassword" name="password" required>

                <button id="button2" type="button" onclick="submitLogin()">Login</button>
            </form>

            <p id="loginMessage"></p>

            <div id="cad">
                <button onclick="abrirTelaCadastro()" id="cadbutton">Ainda não tem conta? Faça seu cadastro</button>
            </div>

        </div>
    </div>
    <div class="modal2" id="login2">
        <div class="login-container">
            <div class="barra">
                <h2 id="seila">Cadastro</h2>
                <button onclick="fecharTelaCadastro()" id="fechar">X</button>
            </div>
            <form action="{{ url_for('static', filename='login.js') }}" method="post" onsubmit="return Cadsuccessful()">
                <label for="username">Nome:</label>
                <input type="text" id="signupusername" name="username" required>


                <label for="senha">Senha:</label>
                <input type="password" id="signuppassword" name="password" required>
                <p id="cadMessage"></p>
                <button id="button2" type="button" onclick="submitCad()">Cadastrar</button>
            </form>
        </div>
    </div>
    <script defer src="{{ url_for('static', filename='login.js') }}"></script>

</body>

</html>